


.banner-container {
    position: relative;
  }
  
  .banner-image {
    width: 97vw;
    height: 900px;
    margin: 0 auto;
    top: 0;
    background-image: url("../../../assets/banner.png");
    background-size:cover;
    background-repeat: no-repeat;
    position: relative; 
  }
  
  .banner-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 97vw;
    height: 100%;
    background-color: rgba(11, 18, 21, 0.637); 
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .banner-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .banner-text p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #D0A144;
  }

input:focus {
    outline: none;
  }

  .banner-search{
    position: absolute;
    bottom: 200px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    /* align-items: flex-end;  */
    justify-content: space-around !important;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 45px;
    padding: 0.6rem;
    width: 700px;
}


.banner-search1 {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.banner-search1 input {
  width: calc(100% - 2rem);
  padding: 1rem;
  border: none;
  border-radius: 45px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  text-align: center; 
}


.banner-search button{
  width: 120px;
  padding: 1rem;
  border: none;
  border-radius: 20px !important;
  /* margin-left: 1rem; */
  margin-right: 1rem;
  background-color: #02244a !important;
  color: white;
  margin-left: auto; 
  margin-top: 5px;

}


.search-icon {
  display: flex;
  align-items: left;
  margin-left: 30px;
  padding-left: 2px;
  color: gray;
  
}

.download-div {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  color: white;
  background-color: transparent;
  height: 130px;
  width: 900px;
  border: 1px solid #D0A144;
  border-radius: 20px;
  background-color: #02244a;
  
}

.download-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Change from space-around to center */
  align-items: center;
  width: 100%; 
}

/* 
.download-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%; 
} */

.column {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 20px;
  /* align-items: center; */
}

.column h4 {
  margin-bottom: 5px;

}

.column p {
  margin-top: 0; /* Remove any top margin */
}

