

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  margin-top: 50px;
}

/* .card-container1{
  background-color: #ededee;
  border-top: 1px solid #02244a;
  border-bottom: 1px solid #02244a;
}
 */
.card {
  width: 20%; /* To show 4 cards in a row */
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  background-color: white;

}

.card-container h3{
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: 400;
 
 
}
.card-container p{
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}

.card h4{
  color:#02244a;
}
.card h3 {
  margin-top: 0;
}

.center-button {
  display: flex;
  justify-content: center ;
  align-items: center;
  cursor: pointer;
 
  margin-top: 20px; 
  margin-bottom: 60px;
}


.center-button button{
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4), 0 8px 10px -6px rgb(0 0 0 / 0.6) !important;
}

.chevron-icon {
  margin-left: auto; 
}