

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  margin-top: 50px;
}

/* .card-container1{
  background-color: #ededee;
  border-top: 1px solid #02244a;
  border-bottom: 1px solid #02244a;
}
 */
.card {
  width: 20%; 
  height: 50px;
  margin: 10px;
  padding: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  align-items: center;
  background-color: white;

}

.card-container h3{
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: 400;
 
 
}
.card-container p{
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: 100;
  margin-bottom: 50px;
}

.card h4{
  color:#02244a;
}
.card h3 {
  margin-top: 0;
}

.center-button {
  display: flex;
  justify-content: center ;
  align-items: center;
  cursor: pointer;
 
  margin-top: 20px; 
  margin-bottom: 60px;
}


.center-button button{
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4), 0 8px 10px -6px rgb(0 0 0 / 0.6) !important;
}

.chevron-icon {
  margin-left: auto; 
  cursor: pointer;
}

.dropdown-options {
 
  top: calc(100% + 10px); 
  left: 50%; 
  transform: translateX(-50%); 
  /* background-color: white; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  display: none; 
  background-color: #f1f5f9;
}


/* .dropdown-options {
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  width: 2000px; 
  height: auto;
  display: none;
} */

.drop-down-div-fa{
  margin-right: auto;
  width: auto;
  text-align: right;
 
}

.drop-down-fa-icon{
    background-color: #dacad2;
    border-radius: 50%;
    color: #d63384;
    padding: 10px;
    cursor: pointer;
  
}

.card:hover .dropdown-options {
  display: block; 
}

.subcategory-div {
  margin-left: 20px;
  padding: 8px;
  padding-left: 20px;
  position: relative;
  width: 18rem !important ; 
  

}

.subcategory-div:hover{
  color: #d63384;
  
 
}

.subcategory-div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px; 
  height: 8px; 
  background-color:white;
  border-radius: 50%;
  border: 1px solid #d63384;
}