

.testimonial-container {
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
    background-color: #ededee;
    height: 45rem;
    border-top: 1px solid #02244a;
    border-bottom: 1px solid #02244a;
    

  }

  .testimonial-slide p{
    color: gray;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 2rem;
  }


  .testimonial-slide:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease;
   
  }
  .testimonial-slide h3{
    color: #02244a;
    text-align: left;
    font-weight: 600;

    margin-top: 20px;
  }

  .testimonial-slide div{

   display: flex;
   flex-direction: row;
   margin-top: 30px;
    border-radius: 50%;
    /* margin-bottom: 20px; */
    align-items: left;
  }

  .testimonial-slide div img{
    border-radius: 50%;
    padding: 0.2rem;
    border: 2px solid #d63384;
  }



  .testimonial-container h2{
     font-size: 30px;
     color: black;
     text-align: center;
     font-weight: 400;
    margin-top: 5rem;
    
  }

  
  .testimonial-slide {
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    width: 580px !important;
    height: 350px; 
    margin-right: 2px!important;
    /* margin: 50 10px 50px 50px; */
    /* background-color: white; */
    background-image: url("../../../assets/template/cardbg.jpg");
    justify-content: space-between; 
    padding: 20px;
    border-radius: 20px;
  }

  .slick-next {
    display: none !important;
  }