

.features-div{
    width: 100%;
    height: 700px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.features-div card{
    border: none !important;
    box-shadow: none !important;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.features-container{
    padding: 50px;
    margin: 50px;
}

.features-container h2{
    text-align: center;
}

.features-container p{
    text-align: center;
}

.content-right {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }


.features-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 50px;
  }
  

  .feature-card-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white !important;
  
    margin-bottom: 20px;
    width: 20%; 
    height: 220px !important;
    margin: 0 1%; 
    padding: 10px;
    border: none !important;
    box-shadow: none !important;
    margin-top: 20px;
    /* background-image: url('../../../assets/image/sparkle.png') !important; */
    /* background-repeat: none !important; */
    /* background-position: cover !important; */
    /* border: 1px solid gray; */
    /* background-color: #02244a !important; */
    /* border-radius: 20px !important; */
  }


  .feature-card-style-1{
 
    margin-top: 20px;
  }

  .feature-card-style-2{
    color: black !important;
    font-size: 15px !important;
    font-weight: 400!important;
    text-align: bottom !important;
    margin-top: 5px !important;
   
  }
  
  .feature-footer-banner-1 {
    width: 80%;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    background: #02244a;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid yellow; */

  }

  .feature-text {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    margin-left: 100px;


    /* font-size: 30px;
     color: black; */
     /* text-align: center; */
     font-weight: 400;
  }

  .feature-text p{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-left: 20px;
    /* margin-top: 2.5rem; */
  }


  .feature-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 50px; */
  }
  
  .feature-image img {
    width: 150px;
    height: 100px;
    border-radius: 20px;
    margin-right: 100px;
  }
  