



.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    flex: 1 0 33.33%;
    padding: 15px;
  }
  
  .footer h2,
  .footer h3 {
    margin-bottom: 15px;
  }
  
  .footer p {
    line-height: 1.8;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .col-md-4 {
      flex: 1 0 50%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .col-md-4 {
      flex: 1 0 100%;
    }
  }