

.footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1;
  margin-bottom: 1rem;
  padding: 1rem;
}

.footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #D0A144;
}

.footer-text {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  /* color:#D0A144; */
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.2rem;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.social-icons {
  margin-top: 2rem;
}

.social-icons a {
  color: #ffffff;
  margin-right: 0.6rem;
}

.footer-bottom {
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.7rem;
}