



.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 50px;
}


.card-style:hover {
  cursor: pointer;
}
.card-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white !important;

  margin-bottom: 20px;
  width: 20%; 
  height: 220px !important;
  margin: 0 1%; 
  padding: 10px;
  border: none !important;
  box-shadow: none !important;
  margin-top: 20px;
  /* background-image: url('../../../assets/image/sparkle.png') !important; */
  /* background-repeat: none !important; */
  /* background-position: cover !important; */
  /* border: 1px solid gray; */
  /* background-color: #02244a !important; */
  /* border-radius: 20px !important; */
}
.category-container div h2{
  font-size: 30px;
   color: black !important;
   text-align: center;
   font-weight: 400;
}


span{
  color: #d0a144 !important;
}

.container1{
  text-align: center;
  color: black;
  font-size:x-large;
  margin-top: 100px;
}

.category-container p{
  text-align: center;
  color: black;
  font-size: larger;
}



.card-style-1{
 
  margin-top: 20px;
}

.card-style-2{
  color: black !important;
  font-size: 15px !important;
  font-weight: 400!important;
  text-align: bottom !important;
  margin-top: 5px !important;
 
}

.register-button{
  background-color: #02244a!important;
  color: white!important;
  border: none!important;
  padding: 10px 20px!important;
  border-radius: 5px!important;
  margin-top: 20px!important;
  margin-bottom: 20px!important;
  width: 180px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4), 0 8px 10px -6px rgb(0 0 0 / 0.6) !important;
}


 