
.div-step{
    background: #ededee;
    height: 800px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #02244a;
    border-bottom: 1px solid #02244a;
}

.div-step div h2{
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 400;
   margin-top: 50px;
   margin-bottom: 50px;
}

.div-step2{
    /* background: pink; */
    height: 60px;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
  
}

.div-step2 Button{
    background: #02244a;
    height: 50px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


  
  .step-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border: none;
    /* padding: 0.5rem; */
  }
  
  .step-item {
    /* flex: 1;  */
    margin: 20px;
    padding: 20px;
    height: 400px;
    /* width: rem !important; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    /* border-bottom: 4px solid red; */
    border: none;
    border-radius: 20px;
    background-color: #ededee;
  }
  
  .step-item img{
    width: 100% !important;
    height:100%!important;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
 
  .step-item p{
    font-size: 22px;
    color: black;
    text-align: center;
    font-weight: 400;
   margin-top: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .step-item {
      width: 45%; /* Adjust width for smaller screens if needed */
    }
  }
  