

.navbar {
  background-color: white;
  overflow: hidden;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  padding: 15px;
  transition: 0.5s;
  display: flex;
  margin-top: 0px;
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
  justify-content: space-between;
  align-items: center;
}


.navbar-left {
  margin-left: 20px; 
  color: black;
  font-weight: bolder;
}



.navbar a {
  display: flex;
  color: black;
  /* text-align: center; */
  /* padding: 2px 8px; */
  text-decoration: none;
  font-size: 15px;
  margin: 0 10px;
  
  /* margin-top: 14px; */
  
}

.navbar-div-a{
  /* margin-left: 100px; */
  display: flex;
}

.navbar a:hover {
  /* background-color: rgb(235, 234, 234); */
  color:  rgb(151, 107, 10);
  border-radius: 5px;
}

/* .navbar a .icon {
  margin-right: 8px;
}

.navbar a.icon {
  float: right;
  display: none;
}
 */
.navbar.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.nav-div{
 
 margin-right: 20px;
}


button{
  background-color: #02244a !important;
  color: white !important;
  width: 120px;
  height: 45px;
  padding: 4px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 10px !important;
  /* border: 1px solid rgb(151, 107, 10) !important; */
  margin-right: 12px !important;
  margin-top: 8px;
  
}

.nav-div-register{
  background-color: transparent;
  color: white !important;
  padding: 12px 30px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 20px;
  /* border-radius: 30px !important; */
  /* border: 1px solid white; */
  /* margin-right: 12px !important; */
}


@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}