


.section-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    /* background: rgb(250,85,8);
     background: linear-gradient(90deg, rgba(250,85,8,0.7847514005602241) 0%, rgba(246,216,11,0.7679446778711485) 59%, rgba(245, 250, 142, 0.986) 100%); */
     background-image: url('../../../assets/login.jpg');
     /* opacity: 0.8; */
     background-repeat: no-repeat; 
     background-size: cover;
 }
 
 .section-card{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 400px;
     height: 450px;
     
     /* border-radius: 30px; */
     background-color: white;
     
    /* box-shadow:  15px 10px 5px 8px rgb(221, 34, 27); */
 }
 
 /* .div-p{
     text-align:right;
     font-size: 1rem;
 }
 
 
    */
 
    .div-p {
     font-size: 1rem;
     text-decoration: none;
     color: blue;
     cursor: pointer;
     display: block;
     text-align: right;
     margin-right: 10px;
   }
   
   
 .div-p1{
     font-size: 1rem;
     text-decoration: none;
     color: blue;
     cursor: pointer;
     display: block;
     text-align: center;
     margin-top: 5px;
     /* margin-right: 10px; */
 }
 
 .div-fontawesome{
     text-align:center;
     margin-top: 10px;
     
 }
 
 .div-button{
     text-align:center;
     
 }
 
 
 
 @media screen and (max-width: 600px) {
     .section-div {
       
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 900px;
       margin: auto;
     }
     .section-card{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 350px;
         height: 400px;
         border-radius: 20px;
         background-color: #F0F0F0;
         box-shadow: 0 0 10px 0 rgba(231, 228, 228, 0.2);
     }
     
 
   }
 
   @media screen and (max-width: 300px) {
     .section-div {
       background-color: rgb(43, 174, 226);
       display: flex;
       align-items: center;
       justify-content: center;
       width: 100%;
       height: 900px;
       margin: auto;
     }
     .section-card{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 250px;
         height: 380px;
         border-radius: 20px;
         background-color: #F0F0F0;
         box-shadow: 0 0 10px 0 rgba(231, 228, 228, 0.2);
     }
     
 
   }