



.benefit-container {
    padding: 20px;
    
  }
  
  .benefit-heading {
    font-size: 30px;
     color: black;
     text-align: center;
     font-weight: 400;
     margin-top: 20px;
     margin-bottom: 20px;
    /* font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #374151; */
  }
  
  .benefit-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 1rem;
  }
  
  .benefit-item {
    flex: 1; 
    margin: 30px;
    padding: 20px;
    height: 380px;
    width: 80px !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  
    /* border-bottom: 4px solid red; */
    /* border: 1px solid red; */
    border-radius: 20px;
    background-image: url('../../../assets/template/savetime.jpg');
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .icon {
    /* background-color: red; */
    /* color: red; */
    /* padding: 12px; */
    border-radius: 50%;
    /* border: 1px solid red; */
    width: 180px;
    height: 120px;

  }
  
  .benefit-title {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #374151;
  }

  
  
  .benefit-description {
    font-size: 14px;
    text-align: left;
    color: #6B7280;
    
  }
  
  @media screen and (max-width: 768px) {
    .benefit-item {
      width: 45%; /* Adjust width for smaller screens if needed */
    }
  }
  